.project-details-page {
    height: 100vh;
    background-color: #121212;
    color: white;
    padding-top: 60px;
}

.project-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #1c1c1c;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.project-details-container {
    padding: 1rem;
}

.tasks-grid {
    display: grid;
    gap: 1rem;
}

.task-card {
    background: #2c2c2c;
    padding: 1rem;
    border-radius: 10px;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.task-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
